# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist
dist-ssr

# Cache directories
.cache
node_modules/.cache/
.DS_Store

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
